/* 
 * Navbar
 */
.nav-container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
}

/*
 * Timer
 */
.timer-counter {
  font-size: 5rem;
}

/*
 * Globals
 */
li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}
